*{
    margin: 0;
    padding: 0;
}


#nav{
    height: 750px;
    width: 41%;
    background-color: red;
    float: left;
   
    
}
#article{
    height: 750px;
    width: 59%;
    background-color: black;
    float: left;
    
}
footer{
    background-color: black;
    color: #FFF;
    padding: 3%;
    float: left;
}